
/* .profile_info_iner{
    display: none;
}
.profile_info:hover +.profile_info_iner{
    display: block;
} */

/* line 204, G:/admin_project/6 admin/sales/scss/_header.scss */
.profile_info {
    position: relative;
}

    /* line 208, G:/admin_project/6 admin/sales/scss/_header.scss */
    .profile_info img {
        border-radius: 50%;
        cursor: pointer;
    }

@media (max-width: 991px) {
    /* line 208, G:/admin_project/6 admin/sales/scss/_header.scss */
    .profile_info img {
        max-width: 50px;
    }
}

/* line 218, G:/admin_project/6 admin/sales/scss/_header.scss */
.profile_info .profile_info_iner {
    position: absolute;
    right: 0;
    background-color: rgba(161, 143, 109, 0.5);
    text-align: left;
    width: 215px;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    top: 77px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

    /* line 231, G:/admin_project/6 admin/sales/scss/_header.scss */
    .profile_info .profile_info_iner::before {
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        top: -10px;
        right: 15px;
        border-width: 0 11px 12px 11px;
        border-color: transparent transparent #46441c transparent;
        z-index: 2;
    }

    /* line 243, G:/admin_project/6 admin/sales/scss/_header.scss */
    .profile_info .profile_info_iner .profile_author_name {
        padding: 20px 25px;
        background: darkred;
        border-radius: 10px 15px 0px 0px;
    }

    /* line 249, G:/admin_project/6 admin/sales/scss/_header.scss */
    .profile_info .profile_info_iner a {
        display: block;
    }

    /* line 253, G:/admin_project/6 admin/sales/scss/_header.scss */
    .profile_info .profile_info_iner p {
        font-size: 16px;
        font-weight: 400;
        color: #fff;
    }

    /* line 258, G:/admin_project/6 admin/sales/scss/_header.scss */
    .profile_info .profile_info_iner h5 {
        font-size: 20px;
        color: #fff;
        font-weight: 600;
    }

/* line 265, G:/admin_project/6 admin/sales/scss/_header.scss */
.profile_info:hover .profile_info_iner {
    opacity: 1;
    visibility: visible;
    top: 77px;
}

/* line 271, G:/admin_project/6 admin/sales/scss/_header.scss */
.profile_info .profile_info_details {
    padding: 20px 25px;
}

    /* line 273, G:/admin_project/6 admin/sales/scss/_header.scss */
    .profile_info .profile_info_details a {
        color: #2E4765;
        font-size: 14px;
        display: block;
        padding: 10px 0;
        font-weight: 400;
    }

        /* line 279, G:/admin_project/6 admin/sales/scss/_header.scss */
        .profile_info .profile_info_details a:hover {
            color: #2E4765;
        }

            /* line 281, G:/admin_project/6 admin/sales/scss/_header.scss */
            .profile_info .profile_info_details a:hover i {
                color: #2E4765;
            }

    /* line 286, G:/admin_project/6 admin/sales/scss/_header.scss */
    .profile_info .profile_info_details i {
        color: #2E4765;
        font-size: 12px;
        margin-left: 20px;
        -webkit-transition: 0.5s;
        transition: 0.5s;
    }

/* line 294, G:/admin_project/6 admin/sales/scss/_header.scss */
.sidebar_icon {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: auto;
    left: 20px;
}
